
*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 100;
}
.cotenedor{}
header{
	width: 100%;
	height: 80px;
	background: #4F666B;
	color: #CFCFCF;
	max-width: 100%;
	min-width: 20%;
	
}
.nombre{
	width: 50%;
	height: 100%;
	float: left;
	margin-top: 20px;
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
	text-shadow: 2,2,2;

}
.menu{
	max-width: 1000px;
	width: 50%;
	height: 100%;
	float: left;
	margin-top: 20px;
	margin-right: 
	margin:0 auto;

}
li{
	list-style: none;
	float: left;
	padding: 10px;
	font-size: 20px;
}
nav{
	float: left;
	margin-left: 400px;
}
a{
	text-decoration: none;
	color: #CFCFCF;
	font-family: 'Dancing Script', cursive;
}
.nav{
	background: #407760;
	height: 600px;
}
img{

	margin-left: 280px;
	margin-top: 48px;
	box-shadow: 2px 2px 0px 0px black;
}
section{
	height: 300px;
	background: #B98F04;

}	
.img{
	max-width: 2000px;
	min-width: 800px;
}
.imagenes{
	float:left;
	margin-right: 80px;	
	max-width: 2000px;
	min-width: 1000px;
}
.letras{
	height: 20px;

	float: left;
	margin-left: 410px;

}

#Paisaje{
	color: black;
}
#Retrato{
	color: black;
	margin-left: 550px;
}
#img01:hover{
    transition:all 1s;

    transform: rotate(-10deg);
    margin: 7px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #82c3a6;

}
#img02:hover{
    transition:all 1s;
    transform: translate(6%,-1%);
    box-shadow: 2px 2px 2px #82c3a6;
}


footer{
	background: #848179;
	height: 200px;

}
.datos{
    font-family: 'Dancing Script', cursive;
    color: black;
 	font-size: 20px;
 	margin-left: 80px;   
 	float: left;
 	margin-top: 20px;
}
.terminos{

	 font-family: 'Dancing Script', cursive;
    color: black;
 	font-size: 20px;
 	margin-left: 80px;   
 	float: left;
 	margin-top: 20px;
}
.redes{
	 font-family: 'Dancing Script', cursive;
    color: black;
 	font-size: 20px;
 	margin-left: 80px;   
 	float: left;
 	margin-top: 20px;
}
.derechos{
	 font-family: 'Dancing Script', cursive;
    color: black;
 	font-size: 20px;
 	margin-left: 80px;   
 	float: left;
 	margin-top: 20px;

}

@media screen and (max-width: 1000px;)
